.lista-usuarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-usuarios li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lista-usuarios li img{
    width: 120px;
    height: 80px;
}

.name{
    font-size: 32px;
    font-weight: bold;
}
.prog{
    font-style: italic;
}
.boton{
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;

}
.formulario{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.formulario2{
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 2px solid black;
    border-radius: 16px;
    padding: 16px;
    margin: 0 auto;
    background-color: black;
    
}
label{
    margin-top: 16px;
}
